$rating-off-color: #EEE;
$rating-on-color:   rgba(21, 107, 108, 1.0);
$rating-shadow: 0px 0px 2px $rating-on-color;
$rating-size: 24px;
.jk-rating-stars-container {

  .button {
    cursor: pointer;

    .material-icons {
      font-size: $rating-size;
    }
  }

  .star-button {
    text-shadow: $rating-shadow;

    &.star-on {

      .material-icons {
        color: $rating-on-color;
      }
    }

    &.star-off {

      .material-icons {
        color: $rating-off-color;
      }
    }

  }
}

.jk-rating-stars-container[read-only="true"] {
  .button {
    cursor: default;
  }
}
